form{
  width: 100%;
}

input{
  font-size: 1.2rem;
  padding: 5px;
}

button{
  font-size: 1.2rem;
  border-radius: 5px;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

button.submit{
  margin: 0 3%;
}

